.fullWidth {
  grid-column: 1 / -1;
}

/* Editor */
.editorContainer {
  position: relative;
}

.contentTextarea {
  border-radius: 0 0 15px 15px !important;
  border-top: none !important;
  min-height: 300px;
  border: 2px solid rgba(102, 126, 234, 0.1) !important;
}
